<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-lazy-init="false">
	<!-- bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName"><value>java:comp/env/jdbc/bsrcm</value></property>
	</bean-->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">           
	    <property name="driverClassName" value="com.mysql.jdbc.Driver" />          
	    <property name="url" value="jdbc:mysql://10.130.29.13:3306/bsrcm_xhyb" />          
	    <property name="username" value="mysql" />          
	    <property name="password" value="mysql" />  
<!-- 	maxActive 连接池支持的最大连接数 
		maxIdle 连接池中最多可空闲maxIdle个连接 
		minIdle 连接池中最少空闲maxIdle个连接 
		initialSize 初始化连接数目 
		maxWait 连接池中连接用完时,新的请求等待时间,毫秒 -->
	</bean>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource"><ref bean="dataSource"/></property>
	</bean>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource"><ref local="dataSource"/></property>
		<property name="mappingLocations">
			<list>
				<value>classpath*:/com/brainsoon/**/po/*.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.format_sql">false</prop>
				<prop key="hibernate.jdbc.fetch_size">50</prop>
				<prop key="hibernate.jdbc.batch_size">25</prop>
				<!-- prop key="hibernate.default_entity_mode">dynamic-map</prop-->
				<!-- prop key="hibernate.connection.provider_class">com.channelsoft.app.springext.LocalDataSourceConnectionProviderExt</prop-->
				<prop key="hibernate.query.substitutions">true 1,false 0,yes 'Y',no 'N'</prop>
				<!-- avoid happen: org.hibernate.HibernateException: Could not instantiate cache implementation -->
				<prop key="hibernate.cache.provider_class">org.hibernate.cache.HashtableCacheProvider</prop>
			</props>
		</property>
	</bean>
	
	<bean id="baseDao" class="com.channelsoft.appframe.dao.hibernate.BaseHibernateDao">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>
	</bean>
	
	<bean id="baseJdbcDao" class="com.channelsoft.appframe.dao.jdbc.BaseJdbcDao">
		<property name="jdbcTemplate"><ref bean="jdbcTemplate"/></property>
	</bean>
	
	<bean id="baseQueryService" class="com.channelsoft.appframe.service.impl.BaseQueryService">
		<property name="baseDao"><ref bean="baseDao"/></property>
		<property name="baseJdbcDao"><ref bean="baseJdbcDao"/></property>
	</bean>
	
	<!-- The abstractBaseService is not transaction manager.Other business bean inherits from it. -->
	<bean id="abstractBaseService" class="com.channelsoft.appframe.service.impl.BaseServiceObject">
	     <property name="baseDao"><ref bean="baseDao"/></property>
	     <property name="baseJdbcDao"><ref bean="baseJdbcDao"/></property>
	     <property name="baseQueryService"><ref bean="baseQueryService"/></property>
	</bean>

	<bean id="baseService" parent="txProxyTemplate">
		<property name="target">
			<bean class="com.channelsoft.appframe.service.impl.BaseServiceObject">
				<property name="baseDao"><ref bean="baseDao"/></property>
				<property name="baseJdbcDao"><ref bean="baseJdbcDao"/></property>
				<property name="baseQueryService"><ref bean="baseQueryService" /></property>
			</bean>
		</property>
	</bean>

	<!--bean id="transactionManager" class="org.springframework.transaction.jta.JtaTransactionManager"/-->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="txProxyTemplate" abstract="true" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"><ref bean="transactionManager"/></property>
		<property name="proxyTargetClass"><value>true</value></property>
		<property name="transactionAttributes">
			<props>
				<prop key="do*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="insert*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="import*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="add*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="update*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="delete*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="cancel*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="save*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>
</beans>